<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>
<body class="container">
<div th:replace="fragment :: logout"></div>


<h1 th:replace="fragment :: h1"></h1>

<p th:unless="${items} and ${items.size()}">no items :(</p>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Department</th>
        <th>Store</th>
        <th>Date</th>

    </tr>

    <tr th:if="${items}" th:each="item : ${items}">
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.brand}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.department.departmentName}"></td>
        <td th:text="${item.store.storeName}"></td>
        <td th:text="${item.itemDate}"></td>


    </tr>

</table>


<nav th:replace="fragment :: navigation"></nav>


</body>
</html>