<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="logout" class="navbar-static-top">
    <a class="btn btn-orange btn-sm" href="/home">Home</a>
    <a class="btn btn-orange btn-sm" href="/logout">Logout</a>
</div>

<h1 class="h1-font" th:text="${title}" th:fragment="h1"></h1>



<nav th:fragment="navigation" class="navbar-static-bottom">
    <a class="btn btn-orange" href="/item/add">Add Items</a>
    <a class="btn btn-orange" href="/search">Item Lookup</a>
    <a class="btn btn-orange" href="/shoppinglist">New Shopping List</a>
    <a class="btn btn-orange" href="/store/locator">Store Locations</a>
</nav>

</body>
</html>